.alpackages/
.vscode/
*.app
*.app.zip
*.app.json
*.app.symbols
*.app.symbols.zip
*.app.publish
*.app.publish.zip
*.app.al
*.app.al.zip
*.app.al.json
*.app.al.symbols
*.app.al.symbols.zip
*.app.al.publish
*.app.al.publish.zip
bin/
obj/

# AL Test Runner folder with performance profiling files and test result files
.altestrunner/

